<div class="login-container">
  <div style="width: 100%; height: 100%; background-color: rgb(222, 229, 253)">
    <div class="th-login-body">
      <div>
        <div class="login-form-container">
          <div style="display: flex; gap: 5px; padding: 0 0 25px 10px">
            <img
              src="\assets\logos\sesame.png"
              alt="logo"
              width="300px"
              height="100px"
            />
            <div
              style="
                color: rgba(0, 0, 0, 0.6);
                text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
                font-size: x-large;
                font-weight: bolder;
                display: flex;
                align-items: center;
              "
            >
              Sesame
            </div>
          </div>
          <form [formGroup]="loginForm" autocomplete="off">
            <div class="form-group">
              <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Adresse E-mail</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="Adresse E-mail"
                  [formControl]="emailCtrl"
                  autocomplete="off"
                />
                <mat-error
                  *ngIf="emailCtrl.touched && emailCtrl.hasError('required')"
                >
                  <strong> L'adresse E-mail est obligatoire </strong>
                </mat-error>
                <mat-error
                  *ngIf="emailCtrl.touched && emailCtrl.hasError('email')"
                >
                  <strong>L'adresse e-mail n'est pas valide</strong>
                </mat-error>
                <mat-error
                  *ngIf="emailCtrl.touched && emailCtrl.hasError('format')"
                >
                  <strong>L'adresse e-mail n'est pas valide</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Mot de passe</mat-label>
                <input
                  matInput
                  [type]="showPassword ? 'text' : 'password'"
                  placeholder="Mot de passe"
                  [formControl]="passwordCtrl"
                  autocomplete="off"
                />
                <mat-icon
                  [ngStyle]="{
                    color: showPassword ? '#3f51b5' : '#67666e',
                    cursor: 'pointer'
                  }"
                  (click)="onChangePasswordVisibility()"
                  matSuffix
                  >visibility</mat-icon
                >
                <mat-error
                  *ngIf="
                    passwordCtrl.touched && passwordCtrl.hasError('required')
                  "
                >
                  <strong>Le mot de passe est obligatoire</strong>
                </mat-error>
                <mat-error
                  *ngIf="
                    passwordCtrl.touched && passwordCtrl.hasError('minlength')
                  "
                >
                  <strong>La longueur min est 6 caractères</strong>
                </mat-error>
                <mat-error
                  *ngIf="
                    passwordCtrl.touched && passwordCtrl.hasError('maxlength')
                  "
                >
                  <strong>La longueur max est 60 caractères</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <a
                href="javascript:;"
                routerLink="/auth/forgot-password"
                class="kt-link kt-login__link-forgot"
              >
                <u>Mot de passe oublié!</u>
              </a>
              <button
                mat-stroked-button
                color="primary"
                id="kt_login_signin_submit"
                (click)="submit()"
              >
                Se connecter
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="optimasoft-infos">
        <span class="auth-copyright-container">
          © Sesame
          {{ today | date : "yyyy" }} .
        </span>
      </div>
    </div>
  </div>
</div>
